@media only screen
and (min-width : 1024px)
and (max-width : 1223px) {
  #details {
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 24px;
    width: 60%;
  }
  .avatar {
    justify-content: center;
  }
  .skills {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

