@media only screen
and (min-width : 575px)
and (max-width : 767px) {

  .socials li {
    margin-left: 20%;
  }

  .about-button a {
    top: 100%;
    pointer-events: none;
  }
  #details {
    top: 100%;
    left: 0%;
    width: 100%;
    height: 115%;
  }
  .skills {
    left: 2%;
  }
  .open {
    transform: translate(0px, 380px);
  }
  .nav-list {
    /*margin-right: 5.5rem;*/
  }
  .avatar {
    justify-content: space-around;
  }
}
