@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
  #details {
    left: 10%;
    width: 80%;
    top: 14%;
    height: 112%;
  }
  .image-position {
    justify-content: inherit;
  }
  .socials li {
    margin-left: 7rem;
  }
  .about-button a {
    left: 50%;
    top: 90%;
  }

  #details p {
    margin-top: 16px;
  }
  .avatar {
    justify-content: center;
  }
  .skills {
    left: 20%;
  }

}
