@media only screen
and (max-width : 375px) {

  .avatar img {
    height: 218px;
    border-radius: 50%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .image-position {
    justify-content: center;
  }

  .name-column {
    margin-top: 2em;
  }

  .socials ul {
    display: flex;
    margin-bottom: 24px;
  }

  .socials li {
    font-size: 32px;
    margin: 0 auto;
  }

  .main {
    top: 16px;
  }

  .about-button a {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4px 20px;
    transition: 0.5s;
    overflow: hidden;
    text-decoration: none;
    background: #fff;
    color: #fff;
    pointer-events: none;
  }

  #details {
    position: absolute;
    top: 98%;
    color: #fff;
    width: 90%;
    height: 120%;
    z-index: -10;
    padding: 32px;
    background-color: #fff;
    color: #212121;
    font-size: 15px;
    text-align: center;
  }

  #details p {
    top: 10%;
  }


  .skills {
    position: absolute;
    top: 86%;
    left: 0;
  }
  #details h2 {
    font-size: 20px;
  }

  .nav-list-projects {
    margin-right: -0.5rem;
  }
  .navbar {
    justify-content: center;
  }
  .nav-list {
    margin: 0 auto;
  }
}
}
