
.nav-list {
  display: flex;
  list-style-type: none;
  align-items: center;
 /* margin-right: 3rem;*/
}

.nav-list a {
  text-decoration: none;
  color: #212121;
  margin: 16px;
  font-size: 18px;
 }

.nav-list a:hover {
  /*color: #BF4743;*/
  transition: all .3s ease-in-out;
  transform: translate(0%);
}

.nav-list-projects {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-right: 3rem;
}

.nav-list-projects a {
  text-decoration: none;
  color: #212121;
  margin: 16px;
  font-size: 18px;
}

.nav-list-projects a:hover {
  transition: all .3s ease-in-out;
  /*transform: translate(0%);*/
}

.navbar {
  justify-content: center;
  background: #fff;
  margin: 0 auto;
  margin-top: 2em;
  padding: 0;
}

.navbar ul {
  padding: 0;
}

.nav-item {
  transform: translate(0%);
}
