
.nav-list {
  display: flex;
  list-style-type: none;
  align-items: center;
 /* margin-right: 3rem;*/
}

.nav-list a {
  text-decoration: none;
  color: #212121;
  margin: 16px;
  font-size: 18px;
 }

.nav-list a:hover {
  /*color: #BF4743;*/
  transition: all .3s ease-in-out;
  transform: translate(0%);

}

.nav-item li:hover {
  transform: translate(-50%);
}

.nav-list-projects {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-right: 3rem;
}

.nav-list-projects a {
  text-decoration: none;
  color: #212121;
  margin: 16px;
  font-size: 18px;
}

.nav-list-projects a:hover {
  /*color: #BF4743;*/
  transition: all .3s ease-in-out;
}

.navbar {
  justify-content: flex-end;
  background: #fff;
}

.navbar {
  flex-grow: 0;
}
